<!DOCTYPE html>
<html>
  <head>
    <title>Letter Game</title>
    <style>
        h1 {font-size: 500%; display: inline;}
        h2 {font-size: 500%; display: inline;}
        p {font-size: 500%; display: inline;}
</style>

  </head>

  <body>
    <p id="game">Press Enter to Start Game!</p><br><br>
      <h1>Score:</h1>
      <h1 id="score"> </h1><br><br>
      <h2>Time:</h2>
      <h2 id="time"></h2><br><br>
      <h2 id="final"></h2><br><br><br><br>
      <h3>Instructions: As the letters appear, type them as fast as you can. You have 30 seconds to type as many correct letters as you can. </h3>
  </body>
</html>
